!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "DroD"
    = csrf_meta_tags
    = stylesheet_link_tag :application, :media => "all"
    %link(href="images/favicon.ico" rel="shortcut icon")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")
    :css
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .space {
      margin-top: 5px;
      float: right;
      margin-left: 5px;
      }

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand(href="#") DroD: Dynamic Rendering of Data
          =form_for 'sqm', :html => {:class => "navbar-form pull-right"}, :url => sqm_plots_path do |s|
            From:
            =s.text_field :from, :class => 'from'
            To:
            =s.text_field :to, :class => 'to'
            Instrument:
            =s.select(:Instrument, options_from_collection_for_select(Instrument.all, "id", "name"))
            =s.submit "render!"
    .container-fluid
      = yield

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag :application
